<html>

    <head></head>

    <body>
    <pre>

      ________________________   \                             &nbsp;  ________________________   \
     &lt; Unicorns are the best! &gt;   \                      &nbsp; &lt; Take 2, they're small! &gt;   \
      ------------------------     \\                          &nbsp;  ------------------------     \\
                         \          \\                         &nbsp;                     \          \\
                          \          &gt;\/7                   &nbsp;                      \          &gt;\/7
                                 _.-(6'  \                     &nbsp;                             _.-(6'  \
                                (=___._/` \                    &nbsp;                            (=___._/` \
                                     )  \ |                    &nbsp;                                 )  \ |
                                    /   / |                    &nbsp;                                /   / |
                                   /    &gt; /                 &nbsp;                               /    &gt; /
                                  j    &lt; _\                 &nbsp;                              j    &lt; _\
                              _.-' :      ``.                  &nbsp;                          _.-' :      ``.
                              \ r=._\        `.                &nbsp;                          \ r=._\        `.
                             &lt;`\\_  \         .`-.          &nbsp;                         &lt;`\\_  \         .`-.
                              \ r-7  `-. ._  ' .  `\           &nbsp;                          \ r-7  `-. ._  ' .  `\
                               \`,      `-.`7  7)   )          &nbsp;                           \`,      `-.`7  7)   )
                                \/         \|  \'  / `-._      &nbsp;                            \/         \|  \'  / `-._
                                          ||    .'             &nbsp;                                      ||    .'
                                           \\  (               &nbsp;                                       \\  (
                                            &gt;\  &gt;        &nbsp;                                        &gt;\  &gt;
                                         ,.-' &gt;.'           &nbsp;                                     ,.-' &gt;.'
                                        &lt;.'_.''             &nbsp;                                    &lt;.'_.''
                                          &lt;'                &nbsp;                                      &lt;'
    </pre>


    </body>
</html>