<html>

    <head></head>

    <body>
    <pre>

      ________________________   \                               ________________________   \
     &lt; Unicorns are the best! &gt;   \                           &lt; Take 2, they're small! &gt;   \
      ------------------------     \\                            ------------------------     \\
                         \          \\                                              \          \\
                          \          &gt;\/7                                             \          &gt;\/7
                                 _.-(6'  \                                                  _.-(6'  \
                                (=___._/` \                                                (=___._/` \
                                     )  \ |                                                     )  \ |
                                    /   / |                                                    /   / |
                                   /    &gt; /                                                    /    &gt; /
                                  j    &lt; _\                                                   j    &lt; _\
                              _.-' :      ``.                                            _.-' :      ``.
                              \ r=._\        `.                                          \ r=._\        `.
                             &lt;`\\_  \         .`-.                                       &lt;`\\_  \         .`-.
                              \ r-7  `-. ._  ' .  `\                                     \ r-7  `-. ._  ' .  `\
                               \`,      `-.`7  7)   )                                     \`,      `-.`7  7)   )
                                \/         \|  \'  / `-._                                  \/         \|  \'  / `-._
                                          ||    .'                                                   ||    .'
                                           \\  (                                                      \\  (
                                            &gt;\  &gt;                                                        &gt;\  &gt;
                                         ,.-' &gt;.'                                                    ,.-' &gt;.'
                                        &lt;.'_.''                                                     &lt;.'_.''
                                          &lt;'                                                          &lt;'
    </pre>


    </body>
</html>